@model IEnumerable<MobileComm.Models.TextOut>

@{
    ViewBag.Title = "Text Out";
}

<h2><b>Text Out</b></h2>

<table>

@foreach (var item in Model) {
    <tr>
        <td>
            Message:
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        </tr>
        <tr>
            <td>
            Number:
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
            </tr>
        <tr>
            <td>
            Name:
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
            </tr>
        <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
            
        </td>
    </tr>
}

</table>
